@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --bg-color: #F5F5DC;
    --font-color: #384106;
    --font-line-seed: "LINE Seed JP", sans-serif;
}

body {
	background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-line-seed);
}

