@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --bg-color: #FFF8EC;
    --font: "Libre Baskerville", serif;
    --font-color: #3b3428;
}

body {
	background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font);
}
