@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-scp: 'Source Code Pro', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-scp);
}